Python_dynamics_code/Octahedron/__pycache__/
Python_dynamics_code/Triangle/__pycache__/
Python_dynamics_code/__pycache__/
Python_dynamics_code/Solar_Array/__pycache__/
Python_dynamics_code/Crane/__pycache__/
Python_dynamics_code/Octahedron/venv
*.json
*.vscode
*.pyc
venv/
*.venv/
env/
*.env/